<h1>Last.fm info</h1>
User Name: <input class="name" type="text" placeholder="Trhino"><br>
Date (yyyy-mm-dd): <input class="date" type="text" placeholder="2005-01-01"><br>
Range: <input class="range" type="text" placeholder="year"><br>
<button>Build that shit</button>